In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [20]:
df=pd.read_csv(r'C:\Users\LENOVO\Desktop\ANN CLASS\Multicollinearity-master\data\Advertising.csv')

In [21]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [22]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [23]:
x.head()

   Unnamed: 0     TV  radio  newspaper
0           1  230.1   37.8       69.2
1           2   44.5   39.3       45.1
2           3   17.2   45.9       69.3
3           4  151.5   41.3       58.5
4           5  180.8   10.8       58.4

In [24]:
import statsmodels.api as sm
import statsmodels.api as add_constant

In [25]:
#now we are adding an intercept
x=sm.add_constant(x)
x

     const  Unnamed: 0     TV  radio  newspaper
0      1.0           1  230.1   37.8       69.2
1      1.0           2   44.5   39.3       45.1
2      1.0           3   17.2   45.9       69.3
3      1.0           4  151.5   41.3       58.5
4      1.0           5  180.8   10.8       58.4
5      1.0           6    8.7   48.9       75.0
6      1.0           7   57.5   32.8       23.5
7      1.0           8  120.2   19.6       11.6
8      1.0           9    8.6    2.1        1.0
9      1.0          10  199.8    2.6       21.2
10     1.0          11   66.1    5.8       24.2
11     1.0          12  214.7   24.0        4.0
12     1.0          13   23.8   35.1       65.9
13     1.0          14   97.5    7.6        7.2
14     1.0          15  204.1   32.9       46.0
15     1.0          16  195.4   47.7       52.9
16     1.0          17   67.8   36.6      114.0
17     1.0          18  281.4   39.6       55.8
18     1.0          19   69.2   20.5       18.3
19     1.0          20  147.3   23.9       19.1
20     1.0          21  218.4   27.7       53.4
21     1.0          22  237.4    5.1       23.5
22     1.0          23   13.2   15.9       49.6
23     1.0          24  228.3   16.9       26.2
24     1.0          25   62.3   12.6       18.3
25     1.0          26  262.9    3.5       19.5
26     1.0          27  142.9   29.3       12.6
27     1.0          28  240.1   16.7       22.9
28     1.0          29  248.8   27.1       22.9
29     1.0          30   70.6   16.0       40.8
..     ...         ...    ...    ...        ...
170    1.0         171   50.0   11.6       18.4
171    1.0         172  164.5   20.9       47.4
172    1.0         173   19.6   20.1       17.0
173    1.0         174  168.4    7.1       12.8
174    1.0         175  222.4    3.4       13.1
175    1.0         176  276.9   48.9       41.8
176    1.0         177  248.4   30.2       20.3
177    1.0         178  170.2    7.8       35.2
178    1.0         179  276.7    2.3       23.7
179    1.0         180  165.6   10.0       17.6
180    1.0         181  156.6    2.6        8.3
181    1.0         182  218.5    5.4       27.4
182    1.0         183   56.2    5.7       29.7
183    1.0         184  287.6   43.0       71.8
184    1.0         185  253.8   21.3       30.0
185    1.0         186  205.0   45.1       19.6
186    1.0         187  139.5    2.1       26.6
187    1.0         188  191.1   28.7       18.2
188    1.0         189  286.0   13.9        3.7
189    1.0         190   18.7   12.1       23.4
190    1.0         191   39.5   41.1        5.8
191    1.0         192   75.5   10.8        6.0
192    1.0         193   17.2    4.1       31.6
193    1.0         194  166.8   42.0        3.6
194    1.0         195  149.7   35.6        6.0
195    1.0         196   38.2    3.7       13.8
196    1.0         197   94.2    4.9        8.1
197    1.0         198  177.0    9.3        6.4
198    1.0         199  283.6   42.0       66.2
199    1.0         200  232.1    8.6        8.7

[200 rows x 5 columns]

In [26]:
##now we will check for corealation
model=sm.OLS(y,x).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.895
Method:                 Least Squares   F-statistic:                     425.7
Date:                Mon, 14 Dec 2020   Prob (F-statistic):           3.94e-95
Time:                        08:15:01   Log-Likelihood:                -386.14
No. Observations:                 200   AIC:                             782.3
Df Residuals:                     195   BIC:                             798.8
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.0052      0.394      7.623      0.000       2.228       3.783
Unnamed: 0    -0.0006      0.002     -0.276      0.783      -0.005       0.004
TV             0.0458      0.001     32.725      0.000       0.043       0.049
radio          0.1884      0.009     21.784      0.000       0.171       0.205
newspaper     -0.0012      0.006     -0.210      0.834      -0.013       0.010
==============================================================================
Omnibus:                       60.267   Durbin-Watson:                   2.085
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              150.423
Skew:                          -1.325   Prob(JB):                     2.17e-33
Kurtosis:                       6.320   Cond. No.                         653.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [27]:
#above oe is confusing so we will see it as simple as that
x.iloc[:,1:].corr()

            Unnamed: 0        TV     radio  newspaper
Unnamed: 0    1.000000  0.017715 -0.110680  -0.154944
TV            0.017715  1.000000  0.054809   0.056648
radio        -0.110680  0.054809  1.000000   0.354104
newspaper    -0.154944  0.056648  0.354104   1.000000

In [28]:
#kuch jayada connection nai mila 
#there is no corellation between the datas so it is safe to say that our 
#computation power will be more

In [29]:
dt=pd.read_csv(r'C:\Users\LENOVO\Desktop\ANN CLASS\Multicollinearity-master\data\Salary_Data.csv')
dt.head()

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731
3              2.0  22.0   43525
4              2.2  22.2   39891

In [30]:
x1=dt.iloc[:,:-1]
y1=dt.iloc[:,-1]
x1=sm.add_constant(x1)
x1

    const  YearsExperience   Age
0     1.0              1.1  21.0
1     1.0              1.3  21.5
2     1.0              1.5  21.7
3     1.0              2.0  22.0
4     1.0              2.2  22.2
5     1.0              2.9  23.0
6     1.0              3.0  23.0
7     1.0              3.2  23.3
8     1.0              3.2  23.3
9     1.0              3.7  23.6
10    1.0              3.9  23.9
11    1.0              4.0  24.0
12    1.0              4.0  24.0
13    1.0              4.1  24.0
14    1.0              4.5  25.0
15    1.0              4.9  25.0
16    1.0              5.1  26.0
17    1.0              5.3  27.0
18    1.0              5.9  28.0
19    1.0              6.0  29.0
20    1.0              6.8  30.0
21    1.0              7.1  30.0
22    1.0              7.9  31.0
23    1.0              8.2  32.0
24    1.0              8.7  33.0
25    1.0              9.0  34.0
26    1.0              9.5  35.0
27    1.0              9.6  36.0
28    1.0             10.3  37.0
29    1.0             10.5  38.0

In [31]:
x1.iloc[:,1:].corr()

                 YearsExperience       Age
YearsExperience         1.000000  0.987258
Age                     0.987258  1.000000

In [32]:
#bahut jyada dependency ha data meh so we can drop any column